import Kl{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Kl{{properCase name}}',
  component: Kl{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Kl{{properCase name}} },
  template: `
    <div>
      <kl-{{name}}></kl-{{name}}>
    </div>
  `
})